@if(isResponseHere && ward) {
    <h2>{{ ward.hospital.name }}</h2>
    <hr>
    <p class="ms-3">
        <button class="btn" style="color: white; background-color: rgb(136, 136, 136);" (click)="redirectToWardDetails()">Wstecz</button>
    </p>
    <div class="container-fluid d-flex justify-content-center">
        <div class="card col-lg-5 col-md-9 col-sm-12 px-4" style="padding-top: 25px; padding-bottom: 20px;">
            <h4 class="mb-3">Edytuj oddział</h4>
            <form [formGroup]="editWardForm" (ngSubmit)="editWardSubmit()">
                <p>
                    <mat-form-field class="d-flex">
                        <mat-label>Nazwa</mat-label>
                        <input matInput placeholder="Podaj nazwę oddziału" formControlName="name">
                        @if(editWardForm.get('name')?.errors?.['required'] && (editWardForm.get('name')?.dirty || editWardForm.get('name')?.touched)) {
                            <mat-error>Nazwa oddziału jest wymagana</mat-error>
                        }
                        @if(editWardForm.get('name')?.errors?.['maxlength'] && (editWardForm.get('name')?.dirty || editWardForm.get('name')?.touched)) {
                            <mat-error>Nazwa oddziału jest za długa</mat-error>
                        }
                    </mat-form-field>
                </p>
    
                <p style="margin-bottom: 30px;">
                    <mat-form-field class="d-flex">
                        <mat-label>Numer telefonu</mat-label>
                        <input matInput formControlName="phoneNumber">
                        <span class="ms-2 me-1" matPrefix>+48 |</span>
                        <i matSuffix class="fas fa-phone me-3"></i>
                        @if(editWardForm.get('phoneNumber')?.errors?.['required'] && (editWardForm.get('phoneNumber')?.dirty || editWardForm.get('phoneNumber')?.touched)) {
                            <mat-error>Numer telefonu jest wymagany</mat-error>
                        }
                        @if(editWardForm.get('phoneNumber')?.errors?.['pattern'] && (editWardForm.get('phoneNumber')?.dirty || editWardForm.get('phoneNumber')?.touched)) {
                            <mat-error>To nie jest numer telefonu!</mat-error>
                        }
                    </mat-form-field>
                </p>
                
                @if(doDieticiansExist) {
                    <h5>Dietetycy</h5>
                    @for(dietician of dieticians; track dietician.id) {
                        <p style="margin-bottom: 0px;">
                            <mat-checkbox
                            color="primary"
                            (change)="handleAddDietician(dietician.id)"
                            [checked]="isCheckedDietician(dietician.id)"
                            >
                                {{ dietician.name }} {{ dietician.surname }}
                            </mat-checkbox>
                        </p>
                    }
                }

                <p class="d-flex justify-content-center mt-3">
                    <button mat-flat-button class="btn btn-primary" type="submit">Zapisz zmiany</button>
                </p>
            </form>
        </div>
    </div>
} @else if (!isResponseHere) {
    <div class="row d-flex align-items-center justify-content-center v-100" style="height: 400px;">
        <img src="./assets/images/loader.gif" style="width: 120px; height: auto;">
    </div>
}

