<h2>Diety</h2>
<hr>
@if(isResponseHere && diet != null) {
    <div class="container-fluid d-flex justify-content-center">
        <div class="card col-lg-6 col-md-9 col-sm-12 px-4" style="padding-top: 25px; padding-bottom: 20px;">
            <h4 class="mb-3">Edytuj dietę</h4>
            <form [formGroup]="editDietForm" (ngSubmit)="editDiet()">
                <p>
                    <mat-form-field class="d-flex">
                        <mat-label>Nazwa</mat-label>
                        <input matInput formControlName="name" [value]="diet.name">
                        <i matSuffix class="fas fa-utensils me-3"></i>
                    </mat-form-field>
                </p>
    
                <p style="margin-bottom: 30px;">
                    <mat-form-field class="d-flex">
                        <mat-label>Opis</mat-label>
                        <textarea matInput formControlName="description" style="height: 300px;"></textarea>
                        @if(editDietForm.get('description')?.errors?.['required'] && (editDietForm.get('description')?.dirty || editDietForm.get('description')?.touched)) {
                            <mat-error>Opis diety jest wymagany</mat-error>
                        }
                        @if(editDietForm.get('description')?.errors?.['maxlength'] && (editDietForm.get('description')?.dirty || editDietForm.get('description')?.touched)) {
                            <mat-error>Opis diety jest za długi</mat-error>
                        }
                    </mat-form-field>
                </p>
                <p class="d-flex justify-content-center">
                    <button mat-flat-button class="btn btn-primary" type="submit">Zapisz zmiany</button>
                </p>
            </form>
        </div>
    </div>
} @else if (!isResponseHere){
    <div class="row d-flex align-items-center justify-content-center v-100" style="height: 400px;">
      <img src="./assets/images/loader.gif" style="width: 120px; height: auto;">
    </div>
  } @else {
    <h3 style="font-weight: 400;">Nie znaleziono diety</h3>
  }

