<div class="row mt-1">
  <div class="col-md-2">
    <h2>Posiłki</h2>
  </div>
  @if (meals.length > 0) {
    <div class="col-lg-2 me-lg-2 col-md-5 flex-column mb-only-sm-2 d-flex justify-content-center">
      <mat-form-field>
        <mat-label>rodzaj</mat-label>
        <mat-select name="type" (selectionChange)="onTypeSelected($event.value)">
          @for (type of types; track type) {
            <mat-option [value]="type">{{ type }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-2 col-md-5 flex-column d-flex justify-content-center">
      <mat-form-field>
        <mat-label>dieta</mat-label>
        <mat-select name="type" (selectionChange)="onDietSelected($event.value)">
          <mat-option value=0>wszystkie</mat-option>
          @for (diet of diets; track diet.name) {
            <mat-option [value]="diet.id">{{ diet.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  }
</div>

<hr>
<div class="container-fluid">
    @if(isResponseHere && mealsEmpty) {
        <div class="row">
            @for(meal of meals; track meal.id) {
                <div class="col-lg-12 mb-4 p-0">
                    <div class="card">
                        <div class="row">
                          <div class="col-lg-2 rounded-start">
                            <a role="button" (click)="openDialog('data:image/jpeg;base64,' + meal.image)">
                            <img
                                [src]="'data:image/jpeg;base64,' + meal.image" 
                                class="rounded-start"
                            />
                            </a>
                          </div>
                          <div class="col-lg-9 ps-2">
                            <div class="card-body mb-1 pe-0 ps-2">
                              <h5 class="card-title">{{ meal.name }}</h5>
                              <p class="card-text" style="margin-left: 0; padding-left: 0;">
                                {{ meal.description }}
                              </p>
                              <p class="card-text mb-1">
                                <small class="text-muted">rodzaj: {{ meal.type }}</small><br>
                                <small class="text-muted">dieta: {{ meal.diet.name }}</small>
                              </p>
                              @if(meal.price > 0) {
                                <h6 class="mb-0 mt-3 ">Cena: {{ meal.price }} zł</h6>
                              }
                            </div>
                          </div>
                          <div class="col-lg-1 py-4 px-0 d-flex flex-column justify-content-center align-items-center" >
                            <button type="button"
                                class="btn btn-link btn-rounded btn-sm fw-bold mb-3"
                                (click)="redirectToDetails(meal.id)"
                            >
                            Więcej
                            </button>
                            <a role="button" class="fas fa-trash-alt mt-3" 
                                style="color: rgb(192, 35, 35);"
                                [swal]="{ title: 'Usuń posiłek', text: 'Czy na pewno chcesz usunąć posiłek?', 
                                  showCancelButton: true, cancelButtonText: 'Anuluj'
                                 }"
                                (confirm)="handleDeleteEvent(meal.id)" 
                            ></a>
                          </div>
                        </div>
                      </div>
                </div>
            }  
            
        </div>
        <div class="row justify-content-center">
            <mat-paginator
                        [pageSizeOptions]="[5, 10, 15, 20, 30, 50]" 
                        [pageSize]="pageSize"
                        [pageIndex]="pageNumber"
                        [length]="totalElements"
                        (page)="onPageEvent($event)"
                        ></mat-paginator>
          </div>
    }
    @else if (!isResponseHere){
      <div class="row d-flex align-items-center justify-content-center v-100" style="height: 400px;">
        <img src="./assets/images/loader.gif" style="width: 120px; height: auto;">
      </div>
    } @else {
      <h3 style="font-weight: 400;">Brak posiłków do wyświetlania</h3>
    }
    
</div>


  