<h2>Dietetycy</h2>
<hr>
<div class="container-fluid d-flex justify-content-center">
    <div class="card col-lg-5 col-md-9 col-sm-12 px-4" style="padding-top: 25px; padding-bottom: 20px;">
        <h4>Rejestracja dietetyka</h4>
        <hr class="mt-2">
        <form [formGroup]="newDieticianForm" (ngSubmit)="submitNewDietician()">
            <h5>Dane osobiste</h5>
            <p class="mb-4 mt-3">
                <mat-form-field class="d-flex">
                    <mat-label>Imię</mat-label>
                    <input matInput placeholder="Podaj imię" formControlName="name"/>
                    @if(newDieticianForm.get('name')?.errors?.['required'] && (newDieticianForm.get('name')?.dirty || newDieticianForm.get('name')?.touched)) {
                        <mat-error>Imię jest wymagane</mat-error>
                    }
                    @if(newDieticianForm.get('name')?.errors?.['maxlength'] && (newDieticianForm.get('name')?.dirty || newDieticianForm.get('name')?.touched)) {
                        <mat-error>Imię jest zbyt długie</mat-error>
                    }
                </mat-form-field>
            </p>

            <p class="mb-4">
                <mat-form-field class="d-flex">
                    <mat-label>Nazwisko</mat-label>
                    <input matInput placeholder="Podaj nazwisko" formControlName="surname"/>
                    @if(newDieticianForm.get('surname')?.errors?.['required'] && (newDieticianForm.get('surname')?.dirty || newDieticianForm.get('surname')?.touched)) {
                        <mat-error>Nazwisko jest wymagane</mat-error>
                    }
                    @if(newDieticianForm.get('surname')?.errors?.['maxlength'] && (newDieticianForm.get('surname')?.dirty || newDieticianForm.get('surname')?.touched)) {
                        <mat-error>Nazwisko jest zbyt długie</mat-error>
                    }
                </mat-form-field>
            </p>

            <p class="mb-4">
                <mat-form-field class="d-flex">
                    <mat-label>Adres email</mat-label>
                    <i matSuffix class="far fa-envelope me-3"></i>
                    <input matInput placeholder="Wpisz adres email" formControlName="email"/>
                    @if(newDieticianForm.get('email')?.errors?.['required'] && (newDieticianForm.get('email')?.dirty || newDieticianForm.get('email')?.touched)) {
                        <mat-error>Adres email jest wymagany</mat-error>
                    }
                    @if(newDieticianForm.get('email')?.errors?.['email'] && (newDieticianForm.get('email')?.dirty || newDieticianForm.get('email')?.touched)) {
                        <mat-error>To nie jest adres email</mat-error>
                    }
                </mat-form-field>
            </p>

            <p class="mb-4">
                <mat-form-field class="d-flex">
                    <mat-label>Domyślne hasło</mat-label>
                    @if (hiddenPassword) {
                        <i matSuffix (click)="toggleHiddenPassword()" class="fas fa-eye-slash me-3"></i>
                    } @else {
                        <i matSuffix (click)="toggleHiddenPassword()" class="fas fa-eye me-3"></i>
                    }
                    <input matInput placeholder="Podaj domyślne hasło" [type]="hiddenPassword ? 'password' : 'text'" formControlName="defaultPassword">
                    @if(newDieticianForm.get('defaultPassword')?.errors?.['required'] && (newDieticianForm.get('defaultPassword')?.dirty || newDieticianForm.get('defaultPassword')?.touched)) {
                        <mat-error>Adres email jest wymagany</mat-error>
                    }
                    @if(newDieticianForm.get('defaultPassword')?.errors?.['pattern'] && (newDieticianForm.get('defaultPassword')?.dirty || newDieticianForm.get('defaultPassword')?.touched)) {
                        <mat-error>Hasło musi posiadać od 8 do 16 znaków, przynajmniej 1 wielką oraz małą literę oraz znak specjalny</mat-error>
                    }
                </mat-form-field>
            </p>

            <hr>

            <h5>Dane szpitala</h5>
            <p class="mb-4 mt-3">
                <mat-form-field class="d-flex">
                    <mat-label>szpital</mat-label>
                    <i matSuffix class="far fa-hospital me-3"></i>
                    <mat-select name="hospital" formControlName="hospitalId" (selectionChange)="selectHospital($event.value)">
                      @for (hospital of hospitals; track hospital.id) {
                        <mat-option [value]="hospital.id">{{ hospital.name }}</mat-option>
                      }
                    </mat-select>
                </mat-form-field>
            </p>

            @if(isHospitalChosen) {
                <h5>Oddziały</h5>
                @if (wards.length > 0) {
                    <div class="mb-4">
                        @for(ward of wards; track ward.id) {
                            <p style="margin-bottom: 0px;">
                                <mat-checkbox
                                color="primary"
                                aria-checked="true"
                                [checked]="isWardSelected(ward.id)"
                                (change)="handleSelectWard(ward.id)"
                                >
                                    {{ ward.name }}
                                </mat-checkbox>
                            </p>
                        }
                        <p style="margin-bottom: 0px;">
                            <mat-checkbox
                            color="primary"
                            (change)="handleSelectAll()"
                            >
                                <b>zaznacz wszystkie</b>
                            </mat-checkbox>
                        </p>
                    </div>  
                } @else {
                    <p class="mb-4">Szpital nie posiada oddziałów</p>
                }
            }

            <div class="mb-5">
                <label for="formFileLg" class="form-label">Zdjęcie dietetyka (opcjonalne)</label>
                <input class="form-control form-control-lg mb-3" id="formFileLg" type="file" (change)="handleFileUpload($event)">
                @if(!isUploadedOnlyOneFile) {
                    <div class="alert alert-danger mt-1">
                        <span>Możesz dołączyć tylko jedno zdjęcie!</span>
                    </div>
                }
                @if(!isValidFileFormat) {
                    <div class="alert alert-danger mt-1">
                        <span>Plik musi być w formacie jpg, jpeg lub png</span>
                    </div>
                }
            </div>
            <p class="d-flex justify-content-center">
                <button mat-flat-button class="btn btn-primary" type="submit">Zarejestruj dietetyka</button>
            </p>
        </form>
    </div>
</div>

