@if(ward) {
    <h2>{{ ward.name }}</h2>
    <hr>
    <p class="ms-3">
        <button class="btn" style="color: white; background-color: rgb(136, 136, 136);" (click)="redirectToHospitalDetails()">Wstecz</button>
    
            <mat-form-field style="background-color: white; margin-left: 170px;">
              <mat-label>sortuj według</mat-label>
              <mat-select name="sort" (selectionChange)="onSelectOrderBy($event.value)">
                <mat-option value="date">data przyjęcia</mat-option>
                <mat-option value="diet">dieta</mat-option>
                <mat-option value="name">nazwisko</mat-option>
              </mat-select>
            </mat-form-field>
    </p>
}   

@if(isResponseHere) {
 
    <div class="row">
        <div class="col-lg-2">
            <h5 class="mt-5">Numer telefonu: </h5>
            <p>{{ ward.phoneNumber }}</p>
            <hr>
            <h5 class="mt-4">Dietetycy: </h5>
            
            @if(dieticians.length > 0) {
                @for(dietician of dieticians; track dietician.id) {
                    <p style="margin-bottom: 20px;">
                        {{ dietician.name }} {{ dietician.surname }} {{dietician.email}}
                    </p>
                }
            } @else {
                <p>Brak dietetyków</p>
            }
            
            <hr>
            <h5 class="mt-4">Liczba pacjentów:</h5>
            @for(diet of diets; track diet.id) {
                <p class="m-1">dieta {{ diet.name }}: {{ getPatientsQuantityByDietName(diet.name) }}</p>
            }
            <p class="m-1">suma: {{ patients.length }}</p>
        </div>
        <div class="col-lg-9 col-md-12 mt-3 ms-5">
            @if(patients.length > 0) {
                <h3>Pacjenci</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">imię</th>
                        <th scope="col">nazwisko</th> 
                        <th scope="col">data przyjęcia</th>
                        <th scope="col">dieta</th>
                        <th scope="col"></th> 
                        <th scope="col"></th> 
                    </tr>
                </thead>
                <tbody>
                    @for(patient of patients; track patient.id) {
                        <tr>
                            <th scope="row">{{ findArrayIndex(patient.id) + 1 }}</th>
                            <td>{{ patient.name }}</td> 
                            <td>{{ patient.surname }}</td> 
                            <td>{{ patient.admissionDate }}</td>
                            <td>{{ patient.diet.name }}</td>
                            <td>
                                <button
                                    type="button"
                                    class="btn btn-link btn-rounded btn-sm"
                                    (click)="redirectToPatientDetails(patient.id)"
                                    >
                                    zobacz więcej
                                </button>
                            </td>
                            <td>
                                <a role="button" class="fas fa-trash-alt mt-3" 
                                style="color: rgb(192, 35, 35);"
                                [swal]="{ title: 'Usuń pacjenta', text: 'Czy na pewno chcesz usunąć konto pacjenta? Upewnij się że został już wypisany ze szpitala!', 
                                  showCancelButton: true, cancelButtonText: 'Anuluj'
                                 }"
                                (confirm)="handleDeletePatient(patient.id)" 
                                ></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            } @else {
                <h4>Brak pacjentów na oddziale</h4>
            }
                
            </div>
        </div>
} @else if(!isResponseHere) {
    <div class="row d-flex align-items-center justify-content-center v-100" style="height: 400px;">
        <img src="./assets/images/loader.gif" style="width: 120px; height: auto;">
    </div>
}
