<h2>Diety</h2>
<hr>
<div class="container-fluid d-flex justify-content-center">
    <div class="card col-lg-6 col-md-9 col-sm-12 px-4" style="padding-top: 25px; padding-bottom: 20px;">
        <h4 class="mb-3">Utwórz nową dietę</h4>
        <form [formGroup]="newDietForm" (ngSubmit)="addNewDiet()">
            <p>
                <mat-form-field class="d-flex">
                    <mat-label>Nazwa</mat-label>
                    <input matInput placeholder="Podaj nazwę diety" formControlName="name">
                    <i matSuffix class="fas fa-utensils me-3"></i>
                    @if(newDietForm.get('name')?.errors?.['required'] && (newDietForm.get('name')?.dirty || newDietForm.get('name')?.touched)) {
                        <mat-error>Nazwa diety jest wymagana</mat-error>
                    }
                    @if(newDietForm.get('name')?.errors?.['maxlength'] && (newDietForm.get('name')?.dirty || newDietForm.get('name')?.touched)) {
                        <mat-error>Nazwa diety jest za długa</mat-error>
                    }
                    @if(newDietForm.get('name')?.errors?.['uniqueNameError']) {
                        <mat-error>Nazwa diety musi być unikalna!</mat-error>
                    }
                </mat-form-field>
            </p>

            <p style="margin-bottom: 30px;">
                <mat-form-field class="d-flex">
                    <mat-label>Opis</mat-label>
                    <textarea matInput formControlName="description" style="height: 200px;"></textarea>
                    @if(newDietForm.get('description')?.errors?.['required'] && (newDietForm.get('description')?.dirty || newDietForm.get('description')?.touched)) {
                        <mat-error>Opis diety jest wymagany</mat-error>
                    }
                    @if(newDietForm.get('description')?.errors?.['maxlength'] && (newDietForm.get('description')?.dirty || newDietForm.get('description')?.touched)) {
                        <mat-error>Opis diety jest za długi</mat-error>
                    }
                </mat-form-field>
            </p>
            <p class="d-flex justify-content-center">
                <button mat-flat-button class="btn btn-primary" type="submit">Utwórz nową dietę</button>
            </p>
        </form>
    </div>
</div>
