@if(isResponseHere && !isIncorrectRequest) {
    <h2 class="ms-1">{{ dateStr }}{{" " + day}} <h5 class="mt-1">dieta {{ diet.name }}</h5></h2>
<hr>
<p>
    <button class="btn" style="color: rgb(255, 255, 255); background-color: rgb(134, 134, 134);" (click)="redirectToDiary(diet.id)">Wstecz</button>
</p>
<div class="container-fluid d-flex justify-content-center">
    <div class="card col-lg-6 col-md-9 col-sm-10 px-4" style="padding-top: 25px; padding-bottom: 20px;">
        <form [formGroup]="newDiaryForm" (ngSubmit)="addNewDiary()">
            <span>
                <h4>Nowy jadłospis</h4>
            </span>
            <hr>

            <span>
                <h5>śniadanie</h5>
            </span>
            <p class="mb-3">
                <mat-form-field class="d-flex">
                    <mat-label>wybierz śniadanie</mat-label>
                    <mat-select name="breakfastId" formControlName="breakfastId">
                        @for(breakfast of breakfasts; track breakfast.id) {
                            <mat-option [value]="breakfast.id">{{ breakfast.name }}</mat-option>
                        }
                    </mat-select>
                    @if(newDiaryForm.get('breakfastId')?.errors?.['min'] && (newDiaryForm.get('breakfastId')?.dirty || newDiaryForm.get('breakfastId')?.touched)) {
                        <mat-error>Musisz wybrać śniadanie</mat-error>
                    }
            </mat-form-field>
            </p>

            <span>
                <h5>obiad</h5>
            </span>
            <p class="mb-3">
                <mat-form-field class="d-flex">
                    <mat-label>wybierz obiad</mat-label>
                    <mat-select name="lunchId" formControlName="lunchId">
                        @for(lunch of lunches; track lunch.id) {
                            <mat-option [value]="lunch.id">{{ lunch.name }}</mat-option>
                        }
                    </mat-select>
                    @if(newDiaryForm.get('lunchId')?.errors?.['min'] && (newDiaryForm.get('lunchId')?.dirty || newDiaryForm.get('lunchId')?.touched)) {
                        <mat-error>Musisz wybrać obiad</mat-error>
                    }
                </mat-form-field>
            </p>

            <span>
                <h5>kolacja</h5>
            </span>
            <p class="mb-3">
                <mat-form-field class="d-flex">
                    <mat-label>wybierz kolację</mat-label>
                    <mat-select name="supperId" formControlName="supperId">
                        @for(supper of suppers; track supper.id) {
                            <mat-option [value]="supper.id">{{ supper.name }}</mat-option>
                        }
                    </mat-select>
                    @if(newDiaryForm.get('supperId')?.errors?.['min'] && (newDiaryForm.get('supperId')?.dirty || newDiaryForm.get('supperId')?.touched)) {
                        <mat-error>Musisz wybrać kolację</mat-error>
                    }
                </mat-form-field>
            </p>

            <span>
                <h5>powtarzaj</h5>
            </span>
            <p class="mb-3">
                <mat-form-field class="d-flex">
                    <mat-select name="repeatFor" formControlName="repeatFor" (selectionChange)="onRepeatForSelected($event.value)">
                        <mat-option value="never">nigdy</mat-option>
                        <mat-option value="every week">co tydzień</mat-option>
                        <mat-option value="every 2 weeks">co 2 tygodnie</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>

            @if(repeatFor != 'never') {
                <span>
                    <h5>powtarzaj przez</h5>
                </span>
                <p class="mb-3">
                    <mat-form-field class="d-flex">
                        <mat-select name="repeatUntil" formControlName="repeatUntil">
                            <mat-option value='1'>miesiąc</mat-option>
                            <mat-option value='2'>2 miesiące</mat-option>
                            <mat-option value='3'>3 miesiące</mat-option>
                            <mat-option value='6'>6 miesięcy</mat-option>
                            <mat-option value='12'>rok</mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>
            }
            <p class="d-flex justify-content-center mt-4">
                <button mat-flat-button class="btn btn-primary" type="submit">Dodaj do jadłospisu</button>
            </p>
        </form>
    </div>
</div>
} @else if(!isResponseHere) {
    <div class="row d-flex align-items-center justify-content-center v-100" style="height: 400px;">
        <img src="./assets/images/loader.gif" style="width: 120px; height: auto;">
    </div>
} @else {
    <h2>niepoprawne żądanie</h2>
}

