<h2>Posiłki</h2>
<hr>
<div class="container-fluid d-flex justify-content-center">
    <div class="card col-lg-5 col-md-9 col-sm-12 px-4" style="padding-top: 35px; padding-bottom: 20px;">
        <h4 class="mb-3">Dodaj nowy posiłek</h4>
        <form [formGroup]="newMealForm" (ngSubmit)="addNewMeal()">
            <p class="mb-3">
                <mat-form-field class="d-flex">
                    <mat-label>Nazwa</mat-label>
                    <input matInput placeholder="Wpisz nazwę posiłku" formControlName="name"/>
                    <i matSuffix class="fas fa-utensils me-3"></i>
                    @if(newMealForm.get('name')?.errors?.['required'] && (newMealForm.get('name')?.dirty || newMealForm.get('name')?.touched)) {
                        <mat-error>Nazwa posiłku jest wymagana</mat-error>
                    }
                    @if(newMealForm.get('name')?.errors?.['maxlength'] && (newMealForm.get('name')?.dirty || newMealForm.get('name')?.touched)) {
                        <mat-error>Nazwa posiłku jest za długa</mat-error>
                    }
                </mat-form-field>
            </p>

            <p class="mb-3">
                <mat-form-field class="d-flex">
                    <mat-label>Opis</mat-label>
                    <textarea matInput placeholder="Wpisz opis posiłku" formControlName="description"></textarea>
                    @if(newMealForm.get('description')?.errors?.['required'] && (newMealForm.get('description')?.dirty || newMealForm.get('description')?.touched)) {
                        <mat-error>Opis posiłku jest wymagany</mat-error>
                    }
                    @if(newMealForm.get('description')?.errors?.['maxlength'] && (newMealForm.get('description')?.dirty || newMealForm.get('description')?.touched)) {
                        <mat-error>Opis posiłku jest za długi</mat-error>
                    }
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-label>dieta</mat-label>
                    <mat-select name="dietId" formControlName="dietId">
                      @for (diet of diets; track diet.name) {
                        <mat-option [value]="diet.id">{{ diet.name }}</mat-option>
                      }
                    </mat-select>
                    @if(newMealForm.get('dietId')?.errors?.['min'] && (newMealForm.get('dietId')?.dirty || newMealForm.get('dietId')?.touched)) {
                        <mat-error>Dieta jest wymagana</mat-error>
                    }
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-label>rodzaj</mat-label>
                    <mat-select name="type" formControlName="type">
                      @for (type of types; track type) {
                        <mat-option [value]="type">{{ type }}</mat-option>
                      }
                    </mat-select>
                    @if(newMealForm.get('type')?.errors?.['required'] && (newMealForm.get('type')?.dirty || newMealForm.get('type')?.touched)) {
                        <mat-error>Rodzaj posiłku jest wymagany</mat-error>
                    }
                </mat-form-field>
            </p>
            
            <p class="mb-3">
                <mat-checkbox
                  color="primary"
                  (change)="handleMealPaid()"
                >
                Posiłek płatny
                </mat-checkbox>
            </p>

            @if(mealPaid) {
                <p class="mb-3">
                    <mat-form-field class="d-flex">
                        <mat-label>Cena</mat-label>
                        <input matInput placeholder="Wpisz cenę posiłku" formControlName="price" type="number"/>
                        <i matSuffix class="fas fa-dollar-sign me-3"></i>
                        @if(newMealForm.get('price')?.errors?.['required'] && (newMealForm.get('price')?.dirty || newMealForm.get('price')?.touched)) {
                            <mat-error>Cena posiłku jest wymagana</mat-error>
                        }
                        @if(newMealForm.get('price')?.errors?.['min'] && (newMealForm.get('price')?.dirty || newMealForm.get('price')?.touched)) {
                            <mat-error>Cena posiłku nie może być mniejsza od 0</mat-error>
                        }
                    </mat-form-field>
                </p>
            }

            <p class="mb-3">
                <mat-form-field class="d-flex">
                    <mat-label>Kalorie</mat-label>
                    <input matInput placeholder="Wpisz ilość kalorii" formControlName="calories" type="number"/>
                    @if(newMealForm.get('calories')?.errors?.['required'] && (newMealForm.get('calories')?.dirty || newMealForm.get('calories')?.touched)) {
                        <mat-error>Ilość kalorii jest wymagana</mat-error>
                    }
                    @if(newMealForm.get('calories')?.errors?.['min'] && (newMealForm.get('calories')?.dirty || newMealForm.get('calories')?.touched)) {
                        <mat-error>Ilość kalorii nie może być mniejsza od 0</mat-error>
                    }
                </mat-form-field>
            </p>

            <p class="mb-3">
                <mat-form-field class="d-flex">
                    <mat-label>Białko</mat-label>
                    <input matInput placeholder="Wpisz ilość białka" formControlName="protein" type="number"/>
                    @if(newMealForm.get('protein')?.errors?.['required'] && (newMealForm.get('protein')?.dirty || newMealForm.get('protein')?.touched)) {
                        <mat-error>Ilość białka jest wymagana</mat-error>
                    }
                    @if(newMealForm.get('protein')?.errors?.['min'] && (newMealForm.get('protein')?.dirty || newMealForm.get('protein')?.touched)) {
                        <mat-error>Ilość białka nie może być mniejsza od 0</mat-error>
                    }
                </mat-form-field>
            </p>

            <p class="mb-3">
                <mat-form-field class="d-flex">
                    <mat-label>Węglowodany</mat-label>
                    <input matInput placeholder="Wpisz ilość węglowodanów" formControlName="carbohydrates" type="number"/>
                    @if(newMealForm.get('carbohydrates')?.errors?.['required'] && (newMealForm.get('carbohydrates')?.dirty || newMealForm.get('carbohydrates')?.touched)) {
                        <mat-error>Ilość węglowodanów jest wymagana</mat-error>
                    }
                    @if(newMealForm.get('carbohydrates')?.errors?.['min'] && (newMealForm.get('carbohydrates')?.dirty || newMealForm.get('carbohydrates')?.touched)) {
                        <mat-error>Ilość węglowodanów nie może być mniejsza od 0</mat-error>
                    }
                </mat-form-field>
            </p>

            <p class="mb-3">
                <mat-form-field class="d-flex">
                    <mat-label>Tłuszcze</mat-label>
                    <input matInput placeholder="Wpisz ilość tłuszczy" formControlName="fats" type="number"/>
                    @if(newMealForm.get('fats')?.errors?.['required'] && (newMealForm.get('fats')?.dirty || newMealForm.get('fats')?.touched)) {
                        <mat-error>Ilość tłuszczy jest wymagana</mat-error>
                    }
                    @if(newMealForm.get('fats')?.errors?.['min'] && (newMealForm.get('fats')?.dirty || newMealForm.get('fats')?.touched)) {
                        <mat-error>Ilość tłuszczy nie może być mniejsza od 0</mat-error>
                    }
                </mat-form-field>
            </p>

            <div class="mb-5">
                <label for="formFileLg" class="form-label">Zdjęcie posiłku</label>
                <input class="form-control form-control-lg mb-3" id="formFileLg" type="file" (change)="handleFileUpload($event)">
                @if(!uploadedPicture) {
                    <div class="alert alert-danger mt-1">
                        <span>Zdjęcie posiłku musi zostać dołączone</span>
                    </div>
                }
                @if(!isUploadedOnlyOneFile) {
                    <div class="alert alert-danger mt-1">
                        <span>Możesz dołączyć tylko jedno zdjęcie!</span>
                    </div>
                }
                @if(!isValidFileFormat) {
                    <div class="alert alert-danger mt-1">
                        <span>Plik musi być w formacie jpg, jpeg lub png</span>
                    </div>
                }
            </div>
            <p class="d-flex justify-content-center">
                <button mat-flat-button class="btn btn-primary" type="submit">Utwórz nowy posiłek</button>
            </p>
        </form>
    </div>
</div>
