
<div class="row mt-1">
    <div class="col-md-2">
        <h2>Dietetycy</h2>
    </div>
    @if (hospitals.length > 0) {
        <div class="col-lg-2 col-md-5 flex-column d-flex justify-content-center">
            <mat-form-field>
                <mat-label>szpital</mat-label>
                <mat-select name="hospital" (selectionChange)="onSelectHospital($event.value)">
                <mat-option value=0>wszystkie</mat-option>
                @for (hospital of hospitals; track hospital.id) {
                    <mat-option [value]="hospital.id">{{ hospital.name }}</mat-option>
                }
                </mat-select>
            </mat-form-field>
        </div>
        }
</div>
<hr>
@if(isResponseHere && dieticians.length > 0) {
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">imię</th>
                    <th scope="col">nazwisko</th> 
                    <th scope="col">email</th>
                    <th scope="col">szpital</th> 
                    <th scope="col"></th> 
                </tr>
            </thead>
            <tbody>
                @for(dietician of dieticians; track dietician.id) {
                    <tr>
                       <th scope="row">{{ findArrayIndex(dietician.id) + 1 }}</th>
                       <td>{{ dietician.name }}</td> 
                       <td>{{ dietician.surname }}</td> 
                       <td>{{ dietician.email }}</td>
                       <td>{{ dietician.hospital.name }}</td>
                       <td>
                        <button
                                type="button"
                                class="btn btn-link btn-rounded btn-sm"
                                (click)="redirectToDieticianDetails(dietician.id)"
                                >
                            zobacz więcej
                        </button>
                       </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
} @else if(!isResponseHere) {
    <div class="row d-flex align-items-center justify-content-center v-100" style="height: 400px;">
        <img src="./assets/images/loader.gif" style="width: 120px; height: auto;">
    </div>
} @else {
    <h4>Brak dietetyków!</h4>
}

